*{margin: 0; padding:0;}
body{width:100%; height:100%}
#nav {
    height: 30px;
}
#menu {
     width: 15%;
     height: 800px;
     float:left;

}
#container {
    width: 85%;
    height: 800px;
    float: left;
}
#calendar {
    width: 80%;
    height: 100%;
    float: left;
    color: rgb(48, 132, 242);
}
#todo_container {
    width: 20%;
    height: 100%;
    float:left;
}

/* 캘린더 날짜 색*/
.fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion,
.fc-day-mon .fc-daygrid-day-number,
.fc-day-tue .fc-daygrid-day-number,
.fc-day-wed .fc-daygrid-day-number,
.fc-day-thu .fc-daygrid-day-number,
.fc-day-fri .fc-daygrid-day-number {
    color: black;
}

.fc-day-sun .fc-col-header-cell-cushion,
.fc-day-sun a{
    color : red;
}

.fc-day-sat .fc-col-header-cell-cushion,
.fc-day-sat a {
    color : blue;
}


